<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load tailwind_filters %}
{% load i18n %}


{% block title %}Genesis | Log In{% endblock %}

{% block content %}

  <div class="max-w-lg mx-auto px-5">
    <h1 class = "title-font sm:text-3xl text-2xl pt-10 mb-1 font-medium text-gray-900">Log In</h1>
    <p class="text-gray-600 mb-4">New here?
      <a href="{% url 'accounts:signup' %}" class="text-blue-500 hover:text-blue-600 text-lg">
        Create an account
      </a>
    </p>
    <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded text-center text-lg text-white mb-4 transition duration-300 ease-in-out">Log In</button>
    </form>
    <div class="md:ml-auto flex justify-between">
      <a href="{% url 'password_reset' %}" class="w-full bg-blue-500 hover:bg-blue-600 rounded text-white text-center px-3 py-1 mr-2 transition duration-75 ease-in-out bg-blue-500 hover:bg-blue-600">
        Forgot password?
      </a>
      <a href="{% url 'accounts:signup' %}" class="w-full bg-blue-500 hover:bg-blue-600 rounded text-white text-center px-3 py-1 ml-2 transition duration-75 ease-in-out bg-blue-500 hover:bg-blue-600">
        Create an account
      </a>
    </div>
  </div>

{% endblock %}