<!-- templates/registration/signup.html -->
{% extends 'base.html' %}
{% load tailwind_filters %}
{% load i18n %}

{% block title %}{% trans msg.tabTitle%}{% endblock %}

{% block content %}

<div class="max-w-lg mx-auto px-5 mb-20">
    <h1 class = "title-font sm:text-3xl text-2xl mb-1 font-medium text-gray-900">{% trans msg.pageTitle %}</h1>
    <p class="text-gray-600 mb-4">{{msg.loginUrl1}}
      <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-600 text-lg">
        {{msg.loginUrl2}}
      </a>
    </p>
    <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded-md text-white mb-3">{% trans msg.signUpButton %}</button>
    </form>
  </div>

{% endblock %}