<!-- templates/realtors/realtors_dashboard.html -->
{% extends 'base.html' %}
{% load tailwind_filters %}
{% load i18n %}

{% block title %}Genesis | Board{% endblock %}

{% block content %}


<section class="text-gray-600 body-font">
  <div class="container max-w-full px-2 lg:px-10 py-10 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">{% trans "REALTOR'S BOARD"%}</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">{% trans 'BOARD'%} ({{realtor.user.username}} - {{realtor.name}})</h1>
    </div>
    <div class="flex flex-wrap">
        <div class="lg:w-3/12 w-full mb-6">
            <div class="flex flex-wrap">
                <div class="flex rounded-lg h-full lg:mx-0 mx-4 flex-col text-white">
                    <div class="p-4 bg-blue-900 rounded-lg lg:mr-6">
                        <div class="flex items-center mb-3">
                            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-white text-lg text-blue-700 flex-shrink-0">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <h2 class="text-md tracking-widest font-bold title-font mb-1">
                                {% trans 'BASE INFORMATION'%}
                            </h2>
                        </div>
                        <hr class="my-4">
                        <div class="flex-grow">
                            <div class="text-sm">
                                <div class="py-1"><span class="font-bold">{% trans 'Name: '%}</span>{{realtor.name}}</div>
                                <div class="py-1"><span class="font-bold">{% trans 'Email: '%}</span> {{realtor.email}}</div>
                                <div class="py-1"><span class="font-bold">{% trans 'Phone: '%}</span> {{realtor.phone}}</div>
                                <div class="py-1"><span class="font-bold">{% trans 'Phone extension: '%}</span> {{realtor.country_code}}</div>
                                <div class="py-1"><span class="font-bold">{% trans 'Short Description: '%}</span> {{realtor.realtor_description}}</div>
                                <div class="py-1 flex items-center flex-wrap">
                                    <span class="font-bold inline-flex items-center">{% trans 'Logo: '%}
                                        {% if realtor.realtor_logo  %}
                                        <img alt="blog" src="{{realtor.realtor_logo.url}}" class="ml-2 w-20 h-12 flex-shrink-0 object-cover object-center pt-1 rounded">
                                        {% endif %}
                                    </span>
                                </div>                 
                            </div>
                            <p class="leading-relaxed text-base mt-2"></p>
                            <a href="{% url 'realtors:realtor-update' realtor.pk%}" class="mt-3 text-white font-bold inline-flex items-center py-1 px-3 rounded text-center text-blue-700 transition duration-75 ease-in-out bg-white hover:bg-gray-200">
                            {% trans 'Update info'%}
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 mt-1 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lg:w-9/12 w-full">
            <div class="flex flex-wrap lg:-m-4">
                <div class="p-4 lg:w-1/3">
                    <a href="{% url 'realtors:realtor-properties' realtor.pk%}">
                        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-blue-500 text-white flex-shrink-0">
                                    <i class="fa fa-home"></i>
                                </div>
                                <h2 class="text-blue-600 text-lg title-font font-medium">
                                    {% trans 'FOR RENT PROPERTIES'%}
                                </h2>
                            </div>
                            <div class="flex-grow">
                                <ul class="pl-4">
                                    <li><i class="fa fa-caret-right"></i> See your advertised properties</li>
                                    <li><i class="fa fa-caret-right"></i> Render your properties</li>
                                    <li><i class="fa fa-caret-right"></i> Delete your properties</li>
                                    <li><i class="fa fa-caret-right"></i> Feature them</li>
                                </ul>
                                <p class="leading-relaxed text-sm mt-4 bg-blue-100 p-2 rounded">
                                    This setting will allow you to change your current published properties information or append more, in order to make them more appeal to the buyer.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="p-4 md:w-1/3">
                    <a href="{% url 'realtors:realtor-dashboard' realtor.pk%}">
                        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-blue-500 text-white flex-shrink-0">
                                    <i class="fa fa-clipboard"></i>
                                </div>
                                <h2 class="text-blue-600 text-lg title-font font-medium">
                                    {% trans 'FOR SALE PROPERTIES'%}
                                </h2>
                            </div>
                            <div class="flex-grow">
                                <ul class="pl-4">
                                    <li><i class="fa fa-caret-right"></i> See your advertised properties</li>
                                    <li><i class="fa fa-caret-right"></i> Render your properties</li>
                                    <li><i class="fa fa-caret-right"></i> Delete your properties</li>
                                    <li><i class="fa fa-caret-right"></i> Feature them</li>
                                </ul>
                                <p class="leading-relaxed text-sm mt-4 bg-blue-100 p-2 rounded">
                                    This setting will allow you to change your current published properties information or append more, in order to make them more appeal to the buyer.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="p-4 md:w-1/3">
                    <a href="{% url 'realtors:realtor-dashboard' realtor.pk%}">
                        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                            <div class="flex items-center mb-3">
                                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-blue-500 text-white flex-shrink-0">
                                    <i class="fa fa-database"></i>
                                </div>
                                <h2 class="text-blue-600 text-lg title-font font-medium">
                                    {% trans 'ANALYTICS'%}
                                </h2>
                            </div>
                            <div class="flex-grow">
                                <ul class="pl-4">
                                    <li><i class="fa fa-caret-right"></i> Analytics overview</li>
                                    <li><i class="fa fa-caret-right"></i> Check your most performing properties</li>
                                    <li><i class="fa fa-caret-right"></i> Improve your properties ranking</li>
                                </ul>
                                <p class="leading-relaxed text-sm mt-4 bg-blue-100 p-2 rounded">
                                    This setting will allow you to change your current published properties information or append more, in order to make them more appeal to the buyer.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>


{% endblock %}