{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load humanize %}
{% block title %}{{org}} | Rent{% endblock title %}
{% block content %}
<section class="text-gray-600 body-font">
   <div class="container max-w-full px-4 lg:px-10 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
         <h1 class="sm:text-3xl text-2xl font-bold title-font mb-10 text-gray-900">
            {% trans 'DASHBOARD - RENT'%}
         </h1>
         <!-- Main properties info -->
         <div class="flex flex-wrap sm:text-left text-center">
            <div class="sm:p-4 p-2 sm:w-1/4 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap bg-gray-800">
                  <div class="flex-shrink-0 flex-shrink-0 object-cover object-center sm:px-6 px-2">
                     <i class="fa fa-home text-3xl text-gray-800 text-center sm:w-12 sm:h-12 w-10 h-10 object-center bg-white rounded-full sm:mr-2 sm:pt-1"></i>
                  </div>
                  <div class="flex-grow sm:px-4 text-white">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Properties'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{properties}}</p>
                  </div>
               </div>
            </div>
            <div class="sm:p-4 p-2 sm:w-1/4 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap  bg-gray-200">
                  <div class="flex-shrink-0 flex-shrink-0 object-cover object-center sm:px-6 px-2">
                     <i class="fa fa-star text-3xl text-white text-center sm:w-12 sm:h-12 w-10 h-10 object-center bg-gray-800 rounded-full sm:mr-2 sm:pt-1"></i>
                  </div>
                  <div class="flex-grow sm:px-4 text-gray-800">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Featured'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{featured}}</p>
                  </div>
               </div>
            </div>
            <div class="sm:p-4 p-2 sm:w-1/4 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap bg-gray-800">
                  <div class="flex-shrink-0 flex-shrink-0 object-cover object-center sm:px-6 px-2">
                     <i class="fa fa-bullhorn sm:text-3xl text-2xl text-gray-800 text-center sm:w-12 sm:h-12 w-10 h-10 object-center bg-white rounded-full sm:mr-2 sm:pt-1 pt-1"></i>
                  </div>
                  <div class="flex-grow sm:px-4 text-white">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Published'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{published}}</p>
                  </div>
               </div>
            </div>
            <div class="sm:p-4 p-2 sm:w-1/4 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap bg-gray-200">
                  <div class="flex-shrink-0 flex-shrink-0 object-cover object-center sm:px-6 px-2">
                     <i class="fa fa-credit-card sm:text-3xl text-2xl text-white text-center sm:w-12 sm:h-12 w-10 h-10 object-center bg-gray-800 rounded-full sm:mr-2 sm:pt-1.5 pt-1"></i>
                  </div>
                  <div class="flex-grow sm:px-4 text-gray-800">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Charges'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{charges}}</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="flex flex-wrap sm:text-left text-left sm:text-center text-sm">
            <div class="sm:p-4 p-2 sm:w-1/4 w-1/2 flex flex-wrap">
               <div class="sm:w-1/2 w-full sm:pr-2 pb-2">
                  <div class="rounded-lg flex items-center justify center flex-wrap">
                     <a href="{% url 'properties:create' %}" class="w-full p-2 rounded text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700">
                     <i class="fa fa-plus-square mr-2"></i>{% trans 'ADD A PROPERTY' %}
                     </a>
                  </div>
               </div>
               <div class="sm:w-1/2 w-full pb-2">
                  <div class="rounded-lg flex items-center justify center flex-wrap sm:float-right">
                     <a href="{% url 'realtors:agent-create' %}" class="w-full p-2 rounded text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700">
                     <i class="fa fa-plus-square mr-2"></i>{% trans 'ADD AN AGENT' %}
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Property on click preview section -->
      <input class="hidden preview_pk" value=""></input>
      <div class="flex flex-wrap pb-10 pt-8 rent_preview hidden">
         <div class="lg:w-3/12 w-full bg-gray-100 sm:shadow-md">
            <div class="h-full overflow-hidden rounded-tl rounded-tr sm:rounded-tr-none ">
               <div class="bg-blue-600 w-full float-left py-4 text-xs pl-2 font-bold"></div>
               <img class="photo_main object-contain" width="100%" height="400" alt="main_photo">
               <div class="tracking wider text-center p-8">{% trans 'All the other images on a scollbar' %}</div>
            </div>
         </div>
         <div class="lg:w-6/12 bg-gray-100 overflow-hidden rounded-tr-none sm:rounded-tr shadow-md">
            <div class="h-full overflow-hidden">
               <div class="bg-blue-600 w-full float-left py-2 text-xs pl-2 rentlist-ribbon text-white">
                  {% trans 'This is a preview. In order to actually see how it looks like in live click '%}
                  <a href="" class="font-bold">{% trans 'here'%}</a>
               </div>
               <div class="p-4">
                  <div class="flex items-center flex-wrap w-full pt-4">
                     <h2 class="inline-flex items-center tracking-widest text-xs title-font font-medium text-blue-600">
                        <span class="admin_2 pr-2"></span>
                        <span class="postalcode pr-2"></span>
                        <span class="admin_3 pr-2"></span>
                        <span class="country"></span>
                     </h2>
                     <h1 class="inline-flex items-center title-font font-bold text-2xl ml-auto leading-none text-gray-900">
                        <span class="price"></span>
                        <span class="currency"></span>
                     </h1>
                  </div>
                  <h1 class="title-font text-md font-bold text-gray-700 mb-2">
                     <span class="address mr-1"></span>
                     <span class="street_number mr-1"></span>
                     <span class="admin_1"></span>
                  </h1>
                  <div class="flex flex-wrap my-2">
                     <div class="lg:w-3/5 md:w-1/2 md:pr-6">
                        <p class="text-gray-900 text-sm mb-4 lg:mb-2 overflow-hidden short_description">
                        </p>
                     </div>
                     <div class="lg:w-2/5 md:w-1/2 w-full rounded border-2 border-blue-100 lg:mb-0 mb-4 text-center" id="map" style="height: 100px;">
                        <div class="pt-6">
                           Map area <img class="mx-auto" src="{% static 'images/mapMarker.png' %}" width='20px' height='20px' alt="map">
                        </div>
                     </div>
                  </div>
                  <div class="flex flex-wrap text-xs text-gray-800 my-2 tracking-wider">
                     <div class="flex justify-between lg:w-3/5 w-full md:pr-6 my-2 lg:my-2">
                        <div>
                           <i class="fa fa-home"></i> {% trans 'TYPE'%}
                           <div class="text-center font-bold property_type"></div>
                        </div>
                        <div>
                           <i class="fa fa-bed"></i> {% trans 'BEDROOMS'%}
                           <div class="text-center font-bold bedrooms"></div>
                        </div>
                        <div>
                           <i class="fa fa-bath"></i> {% trans 'BATHROOMS'%}
                           <div class="text-center font-bold bathrooms"></div>
                        </div>
                        <div>
                           <i class="fa fa-th-large"></i> {% trans 'SPACE'%}
                           <div class="text-center font-bold m2">m²</div>
                        </div>
                     </div>
                     <div class="flex justify-between lg:w-2/5 w-full my-2">
                        <p class="text-xs font-bold leading-none ml-auto">{% trans 'Published:'%} <span class="list_date"></span></p>
                     </div>
                  </div>
                  <hr class="my-4">
                  <div class="flex items-center flex-wrap">
                     <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{rent.organisation.email}}" 
                        target="popup" 
                        onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{rent.organisation.email}}','popup','width=600,height=600'); return false;"
                        class="py-2 px-3 border-r border-white rounded-l text-center text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700 inline-flex items-center md:mb-2 lg:mb-0">
                     <i class="fa fa-envelope pr-2"></i>EMAIL
                     </a>
                     <a href="tel:{{rent.organisation.phone}}" class="py-2 px-4 rounded-r text-center text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700 inline-flex items-center md:mb-2 lg:mb-0">
                     <i class="fa fa-phone pr-2"></i>{% trans 'CALL'%}
                     </a>
                     <div class="inline-flex items-center  ml-auto leading-none">
                        {% if rent.organisation.organisation_logo %}
                        <img alt="blog" src="{{rent.organisation.organisation_logo.url}}" class="w-20 h-12 flex-shrink-0 object-cover object-center sidebar">
                        {% endif %}
                        <span class="flex-grow flex flex-col pl-4">
                        <span class="title-font text-sm font-medium text-gray-900">{{rent.organisation.name}}</span>
                        <span class="text-gray-700 text-xs tracking-widest mt-0.5">{% trans 'AGENCY'%}</span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="lg:w-3/12 md:pl-4 sidebar">
            <div class="h-full overflow-hidden">
               <div class="p-6">
               </div>
            </div>
         </div>
      </div>
      <!-- Properties datatable -->
      <div class="lg:w-3/3 w-full mx-auto overflow-auto mb-20">
         <table class="table-auto w-full text-left whitespace-no-wrap display rounded-xl" id="org_properties_table">
            <thead id="properties_head" class="">
               <tr class="tracking-widest md:text-sm text-xs text-white bg-gray-800">
                  <th class="px-4 py-4">#</th>
                  <th class="px-4 py-4">{% trans 'IMAGE'%}</th>
                  <th class="px-4 py-4">{% trans 'TYPE'%}</th>
                  <th class="px-4 py-4">{% trans 'ADDRESS'%}</th>
                  <th class="px-4 py-4">{% trans 'POSTCODE'%}</th>
                  <th class="px-4 py-4">{% trans 'PRICE'%}</th>
                  <th class="px-4 py-4">{% trans 'PUBLISHED'%}</th>
                  <th class="px-4 py-4">{% trans 'CATEGORY'%}</th>
                  <th class="px-4 py-4">{% trans 'AVAILABILITY'%}</th>
                  <th class="px-4 py-4">{% trans 'DETAILS'%}</th>
               </tr>
            </thead>
            <tbody>
               {% for rent in organisation%}
               <tr class="text-xs sm:text-sm text-left properties-table" id="org_property_row" ondblclick = "window.location = '{% url 'properties:update' pk=rent.pk %}'">
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="border-t-2 border-gray-200 px-4 py-3">{{forloop.counter}}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="border-t-2 border-gray-200 px-4 py-3">
                     {% if rent.photo_main  %}
                     {% thumbnail rent.photo_main "119x80" as im %}
                     <img alt="Main picture" src="{{ im.url }}" class="w-16 h-10 float-left rounded flex-shrink-0 object-cover object-center mx-auto">
                     {% endthumbnail %}
                     {% endif %}
                  </td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="border-t-2 border-gray-200 px-4 py-3">{% trans rent.property_type %}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="border-t-2 border-gray-200 px-4 py-3">{{rent.address}} {{rent.street_number}}, {{rent.admin_1}}, {{rent.admin_2}}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="border-t-2 border-gray-200 px-4 py-3">{{rent.postalcode}}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="border-t-2 border-gray-200 px-4 py-3">{{rent.price}} ({{rent.currency}})</td>
                  {% if rent.is_published %}
                  <td class="border-t-2 border-gray-200 px-4 py-3"><i class="text-green-500 text-lg fa fa-check-circle"><span class="hidden">{{rent.is_published}}</span></i></td>
                  {% else %}
                  <td class="border-t-2 border-gray-200 px-4 py-3"><i class="text-red-500 text-lg fa fa-times-circle"><span class="hidden">{{rent.is_published}}</span></i></td>
                  {% endif %}
                  {% if rent.property_category == 'STANDARD' %}
                  <td class="border-t-2 border-gray-200 px-4 py-3 text-xs">
                     <span class="rounded-xl bg-blue-100 px-2 text-blue-500 font-bold">
                     {{rent.property_category}}
                     </span>
                  </td>
                  {% elif rent.property_category == 'FEATURED' %}
                  <td class="border-t-2 border-gray-200 px-4 py-3 text-xs">
                     <span class="rounded-xl bg-yellow-100 px-2 text-yellow-500 font-bold">
                     {{rent.property_category}}
                     </span>
                  </td>
                  {% else%}
                  <td class="border-t-2 border-gray-200 px-4 py-3 text-xs">
                     <span class="rounded-xl bg-purple-100 px-2 text-purple-500 font-bold">
                     {{rent.property_category}}
                     </span>
                  </td>
                  {% endif %}
                  <td class="border-t-2 border-gray-200 px-4 py-3">{{rent.available_after|date:"d M, Y"}}</td>
                  <td class="border-t-2 border-gray-200 px-4 py-3 text-center text-xl"><a href="{% url 'properties:update' rent.pk %}"><i class="text-blue-600 hover:text-blue-700 fa fa-share-square"></i></a></td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <!-- Pagination -->
      <div class="w-full flex flex-wrap mt-4">
         <div class="pagination w-full text-right">
            <span class="step-links">
            {% if page_obj.has_previous %}
            <a class="pr-1 pl-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-300 hover:bg-blue-600" 
               href="?page=1">
            <i class="fa fa-angle-double-left text-white text-lg"></i>  
            </a>
            <a class="pl-3 pr-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-400 hover:bg-blue-600" 
               href="?page={{page_obj.previous_page_number}}">
            <i class="fa fa-angle-left text-white text-xl"></i>
            </a>
            {% endif %}
            <span class="current text-gray rounded p-2 text-md align-center">
            <span class="font-bold">{{ page_obj.number }}</span> 
            <span class="text-xs"> {{ page_obj.paginator.num_pages }}</span>
            </span>
            {% if page_obj.has_next %}
            <a class="pl-3 pr-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-400 hover:bg-blue-600" 
               href="?page={{page_obj.next_page_number}}">
            <i class="fa fa-angle-right text-white text-xl"></i>
            </a>
            <a class="px-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-300 hover:bg-blue-600" 
               href="?page={{page_obj.paginator.num_pages}}">
            <i class="fa fa-angle-double-right text-white text-lg"></i>
            </a>
            {% endif %}
            </span>
         </div>
      </div>
      <!-- /Pagination -->
   </div>
</section>
{% include "realtors/scripts/realtors_organisation_properties_list_DataTable.html" %}
{% include "realtors/scripts/realtors_organisation_properties_list_preview.html" %}
{% endblock content %}