{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load humanize %}
{% block title %}{{org}} | Rent{% endblock title %}
{% block content %}
<section class="text-gray-600 body-font bg-gray-50 mt-1">
   <div class="container max-w-full px-4 lg:px-10 py-10 mx-auto">
      <div class="flex flex-col text-center w-full mb-10">
         <h1 class="sm:text-3xl text-2xl font-bold title-font mb-10 text-gray-900">
            {% trans 'DASHBOARD - RENT'%}
         </h1>
         <!-- Main properties info -->
         <div class="flex flex-wrap sm:text-left text-center">
            <div class="sm:p-4 p-2 lg:w-1/4 md:w-1/3 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap bg-gray-800">
                  <div class="flex-shrink-0 px-6">
                    <svg width="30" height="30" fill="white" class="bi bi-house-fill" viewBox="0 0 16 16">
                     <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                     <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                  </svg>
                  </div>
                  <div class="flex-grow text-white">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Properties'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{properties}}</p>
                  </div>
               </div>
            </div>
            <div class="sm:p-4 p-2 md:w-1/3 lg:w-1/4 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap bg-gray-200">
                  <div class="flex-shrink-0 px-6">
                     <svg width="30" height="30" fill="black" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                     </svg>
                  </div>
                  <div class="flex-grow text-gray-800">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Featured'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{featured}}</p>
                  </div>
               </div>
            </div>
            <div class="sm:p-4 p-2 md:w-1/3 lg:w-1/4 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap bg-gray-800">
                  <div class="flex-shrink-0 px-6">
                     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                     </svg>
                  </div>
                  <div class="flex-grow sm:px-4 text-white">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Published'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{published}}</p>
                  </div>
               </div>
            </div>
            <div class="sm:p-4 p-2 md:w-1/3 lg:w-1/4 w-1/2">
               <div class="rounded-lg py-4 flex items-center justify center flex-wrap bg-gray-200">
                  <div class="flex-shrink-0 px-6">
                     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-wallet2" viewBox="0 0 16 16">
                        <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                     </svg>
                  </div>
                  <div class="flex-grow sm:px-4 text-gray-800">
                     <h2 class="title-font font-medium sm:text-base text-sm">
                        {% trans 'Charges'%}
                     </h2>
                     <p class="leading-relaxed font-bold">{{charges}}</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="flex flex-wrap sm:text-left text-left sm:text-center text-sm p-2 sm:p-4 w-full">
            <div class="w-1/2 pr-2">
               <a href="{% url 'properties:create' %}" class="flex w-full justify-center p-2 rounded text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700">
                  <svg width="25" height="25" fill="white" class="bi bi-plus-square-fill mr-2 inline-block" viewBox="0 0 16 16">
                     <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                  </svg>
                  {% trans 'ADD A PROPERTY' %}
               </a>
            </div>
            <div class="w-1/2 pl-2">
               <a href="{% url 'realtors:agent-create' %}" class="flex w-full justify-center p-2 rounded text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus-fill inline-block mr-2" viewBox="0 0 16 16">
                     <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                     <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  {% trans 'ADD AN AGENT' %}
               </a>
            </div>
         </div>
      </div>
      <!-- Property on click preview section -->
      <input class="hidden preview_pk" value=""></input>
      <div class="flex flex-wrap pb-10 pt-8 rent_preview hidden">
         <div class="lg:w-3/12 w-full bg-gray-100 sm:shadow-md">
            <div class="h-full overflow-hidden rounded-tl rounded-tr sm:rounded-tr-none ">
               <div class="bg-blue-600 w-full float-left py-4 text-xs pl-2 font-bold"></div>
               <img class="photo_main object-contain" width="100%" height="400" alt="main_photo">
               <div class="tracking wider text-center p-8">{% trans 'All the other images on a scollbar' %}</div>
            </div>
         </div>
         <div class="lg:w-6/12 bg-gray-100 overflow-hidden rounded-tr-none sm:rounded-tr shadow-md">
            <div class="h-full overflow-hidden">
               <div class="bg-blue-600 w-full float-left py-2 text-xs pl-2 rentlist-ribbon text-white">
                  {% trans 'This is a preview. In order to actually see how it looks like in live click '%}
                  <a href="" class="font-bold previewPk">{% trans 'here'%}</a>
               </div>
               <div class="p-4">
                  <div class="flex items-center flex-wrap w-full pt-4">
                     <h2 class="inline-flex items-center tracking-widest text-xs title-font font-medium text-blue-600">
                        <span class="admin_2 pr-2"></span>
                        <span class="postalcode pr-2"></span>
                        <span class="admin_3 pr-2"></span>
                        <span class="country"></span>
                     </h2>
                     <h1 class="inline-flex items-center title-font font-bold text-2xl ml-auto leading-none text-gray-900">
                        <span class="price"></span>
                        <span class="currency"></span>
                     </h1>
                  </div>
                  <h1 class="title-font text-md font-bold text-gray-700 mb-2">
                     <span class="address mr-1"></span>
                     <span class="street_number mr-1"></span>
                     <span class="admin_1"></span>
                  </h1>
                  <div class="flex flex-wrap my-2">
                     <div class="lg:w-3/5 md:w-1/2 md:pr-6">
                        <p class="text-gray-900 text-sm mb-4 lg:mb-2 overflow-hidden short_description">
                        </p>
                     </div>
                     <div class="lg:w-2/5 md:w-1/2 w-full rounded border-2 border-blue-100 lg:mb-0 mb-4 text-center" id="map" style="height: 100px;">
                        <div class="pt-6">
                           Map area <img class="mx-auto" src="{% static 'images/mapMarker.png' %}" width='20px' height='20px' alt="map">
                        </div>
                     </div>
                  </div>
                  <div class="flex flex-wrap text-xs text-gray-800 my-2 tracking-wider">
                     <div class="flex justify-between lg:w-3/5 w-full md:pr-6 my-2 lg:my-2">
                        <div>
                           <i class="fa fa-home"></i> {% trans 'TYPE'%}
                           <div class="text-center font-bold property_type"></div>
                        </div>
                        <div>
                           <i class="fa fa-bed"></i> {% trans 'BEDROOMS'%}
                           <div class="text-center font-bold bedrooms"></div>
                        </div>
                        <div>
                           <i class="fa fa-bath"></i> {% trans 'BATHROOMS'%}
                           <div class="text-center font-bold bathrooms"></div>
                        </div>
                        <div>
                           <i class="fa fa-th-large"></i> {% trans 'SPACE'%}
                           <div class="text-center font-bold m2">m²</div>
                        </div>
                     </div>
                     <div class="flex justify-between lg:w-2/5 w-full my-2">
                        <p class="text-xs font-bold leading-none ml-auto">{% trans 'Published:'%} <span class="list_date"></span></p>
                     </div>
                  </div>
                  <hr class="my-4">
                  <div class="flex items-center flex-wrap">
                     <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{rent.organisation.email}}" 
                        target="popup" 
                        onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{rent.organisation.email}}','popup','width=600,height=600'); return false;"
                        class="py-2 px-3 border-r border-white rounded-l text-center text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700 inline-flex items-center md:mb-2 lg:mb-0">
                     <i class="fa fa-envelope pr-2"></i>EMAIL
                     </a>
                     <a href="tel:{{rent.organisation.phone}}" class="py-2 px-4 rounded-r text-center text-white transition duration-75 ease-in-out bg-blue-600 hover:bg-blue-700 inline-flex items-center md:mb-2 lg:mb-0">
                     <i class="fa fa-phone pr-2"></i>{% trans 'CALL'%}
                     </a>
                     <div class="inline-flex items-center  ml-auto leading-none">
                        {% if rent.organisation.organisation_logo %}
                        <img alt="blog" src="{{rent.organisation.organisation_logo.url}}" class="w-20 h-12 flex-shrink-0 object-cover object-center sidebar">
                        {% endif %}
                        <span class="flex-grow flex flex-col pl-4">
                        <span class="title-font text-sm font-medium text-gray-900">{{rent.organisation.name}}</span>
                        <span class="text-gray-700 text-xs tracking-widest mt-0.5">{% trans 'AGENCY'%}</span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="lg:w-3/12 md:pl-4 sidebar">
            <div class="h-full overflow-hidden">
               <div class="p-6">
               </div>
            </div>
         </div>
      </div>
      <!-- Properties datatable -->
      <div class="lg:w-3/3 w-full mx-auto overflow-auto mb-20 p-4 rounded shadow">
         <table class="table-auto w-full whitespace-no-wrap display rounded-xl" id="org_properties_table">
            <thead id="properties_head" class="">
               <tr class="tracking-wider text-left md:text-sm text-xs text-gray-50 bg-blue-600 rounded-lg">
                  <th class="rounded-tl">#</th>
                  <th class="">{% trans 'Image'%}</th>
                  <th class="">{% trans 'Type'%}</th>
                  <th class="">{% trans 'Address'%}</th>
                  <th class="">{% trans 'Postcode'%}</th>
                  <th class="">{% trans 'Price'%}</th>
                  <th class="">{% trans 'Published'%}</th>
                  <th class="">{% trans 'Category'%}</th>
                  <th class="">{% trans 'Availability'%}</th>
                  <th class=" rounded-tr">{% trans 'Details'%}</th>
               </tr>
            </thead>
            <tbody>
               {% for rent in organisation%}
               <tr class="text-xs sm:text-sm text-left properties-table" id="org_property_row" ondblclick = "window.location = '{% url 'properties:update' pk=rent.pk %}'">
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="">{{forloop.counter}}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="">
                     {% if rent.photo_main  %}
                     {% thumbnail rent.photo_main "119x80" as im %}
                     <img alt="Main picture" src="{{ im.url }}" class="w-16 h-10 float-left rounded flex-shrink-0 object-cover object-center mx-auto">
                     {% endthumbnail %}
                     {% endif %}
                  </td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="">{% trans rent.property_type %}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="">{{rent.address}} {{rent.street_number}}, {{rent.admin_1}}, {{rent.admin_2}}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="">{{rent.postalcode}}</td>
                  <td onclick="previewMode({{rent.pk}},'{% trans rent.property_type %}')" class="">{{rent.price}} ({{rent.currency}})</td>
                  {% if rent.is_published %}
                  <td class=""><svg width="16" height="16" fill="green" class="bi bi-check-square-fill mx-auto" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                     <span class="hidden">{{rent.is_published}}</span></svg>
                  </td>
                  {% else %}
                  <td class=""><svg width="16" height="16" fill="red" class="bi bi-check-square-fill mx-auto" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                     <span class="hidden">{{rent.is_published}}</span></svg>
                  </td>
                  {% endif %}
                  {% if rent.property_category == 'STANDARD' %}
                  <td class=" text-xs">
                     <span class="rounded-xl bg-blue-100 px-2 text-blue-500 font-bold">
                     {{rent.property_category}}
                     </span>
                  </td>
                  {% elif rent.property_category == 'FEATURED' %}
                  <td class=" text-xs">
                     <span class="rounded-xl bg-yellow-100 px-2 text-yellow-500 font-bold">
                     {{rent.property_category}}
                     </span>
                  </td>
                  {% else%}
                  <td class=" text-xs">
                     <span class="rounded-xl bg-purple-100 px-2 text-purple-500 font-bold">
                     {{rent.property_category}}
                     </span>
                  </td>
                  {% endif %}
                  <td class="">{{rent.available_after|date:"d M, Y"}}</td>
                  <td class=" text-center text-xl">
                     <a href="{% url 'properties:update' rent.pk %}">
                        <svg width="16" height="16" fill="gray" class="bi bi-arrow-up-right-square-fill mx-auto" viewBox="0 0 16 16">
                           <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"/>
                        </svg>
                     </a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</section>
{% include "realtors/scripts/realtors_organisation_properties_list_DataTable.html" %}
{% include "realtors/scripts/realtors_organisation_properties_list_preview.html" %}
{% endblock content %}