.dropdown:hover .dropdown-menu {
    display: block;
  }

/* Leaflet */
 
.leaflet-bottom, .leaflet-right{
  display: none!important;
}

.leaflet-touch .leaflet-bar a {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgb(167, 161, 161);
  background-clip: padding-box;
}

@media(max-width:1023px){
  .rent-detail-map {
    height: 200px!important;
  }
}

.rent-detail-map {
  height: 275px;
}

/* end of Leaflet */

@media(max-width:1023px){
  
  .sidebar {
    display: none;
  }
  .rentlist-ribbon {display: none;} 

  }

/* Splide */

.splide__slide img {
	width : 100%;
	height: auto;
}

.splide__slide.is-active {
  border-color: rgba(59, 130, 246)!important;
}

#div_id_is_realtor {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.checkboxinput {
  margin-bottom: 6px;
  margin-left: 15px;
}

/* end of Splide */
