{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Genesis | Rent{% endblock title %}

{% block content %}


<section class="text-gray-600 body-font">
  <div class="container max-w-full px-2 lg:px-10 py-10 mx-auto">
            {% for rent in rentProperties %}
    <div class="flex flex-wrap px-4 pb-16 pt-8 -m-4">
      <div class="lg:w-3/12 w-full bg-gray-100">
        <div class="h-full overflow-hidden rounded-tl">
          <div class="bg-blue-500 text-white w-full font-bold float-left py-1 px-2 text-xs">FEATURED PROPERTY</div>  
          <div class="fotorama" data-nav="thumbs" data-width="100%">
            <img class="object-cover object-center" src="https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?cs=srgb&dl=pexels-burst-373912.jpg&fm=jpg" alt="blog">
            <img class="object-cover object-center" src="https://cdn.pixabay.com/photo/2017/06/13/22/42/kitchen-2400367_1280.jpg" alt="blog">
          </div> 
        </div>
      </div>
      <div class="lg:w-6/12 bg-gray-100">
        <div class="h-full overflow-hidden">
          <div class="bg-blue-500 text-blue-500 w-full float-left py-1 rentlist-ribbon text-xs">G</div> 
          <div class="p-4">
            <a href="{% url 'properties:rent-detail' rent.pk %}">
              <div class="flex items-center flex-wrap w-full mb-2 py-1">
                <h2 class="inline-flex items-center tracking-widest text-xs title-font font-medium text-gray-400">
                  {{rent.city}} | {{rent.postalcode}} | {{rent.region}}
                </h2>
                <h1 class="inline-flex items-center title-font font-bold text-3xl ml-auto leading-none text-gray-900">{{rent.price}}</h1>
              </div>
            </a>
            <a href="{% url 'properties:rent-detail' rent.pk %}">
              <h1 class="title-font text-md font-bold text-gray-700 mb-2">
                {{rent.address}}
              </h1>
            </a>
            <div class="flex flex-wrap my-2">
              <div class="lg:w-3/5 md:w-1/2 md:pr-6">
                <a href="{% url 'properties:rent-detail' rent.pk %}">
                  <p class="text-gray-900 text-sm mb-4 lg:mb-2">
                    {{rent.short_description}}
                  </p>
                </a>
              </div>
              <div class="lg:w-2/5 md:w-1/2 w-full rounded border-2 border-blue-100 lg:mb-0 mb-4" id="map{{rent.id}}" style="height: 80px;"></div> 
            </div> 
            <a href="{% url 'properties:rent-detail' rent.pk %}">
              <div class="flex flex-wrap text-sm text-blue-500 my-2">
                <div class="flex justify-between lg:w-3/5 w-full md:pr-6 my-2 lg:my-2">
                  <div><i class="fa fa-home"></i> TYPE<div class="text-center text-blue-500 font-bold">{{rent.property_type}}</div></div>
                  <div><i class="fa fa-bed"></i> BEDROOMS<div class="text-center text-blue-500 font-bold">{{rent.bedrooms}}</div></div>
                  <div><i class="fa fa-bath"></i> BATHROOMS<div class="text-center text-blue-500 font-bold">{{rent.bathrooms|floatformat:'0'}}</div></div>
                  <div><i class="fa fa-th-large"></i> SPACE<div class="text-center text-blue-500 font-bold">{{rent.m2}}m²</div></div>
                </div>
                <div class="flex justify-between lg:w-2/5 w-full my-2">
                  <p class="text-xs font-bold leading-none ml-auto">Published: {{rent.list_date}}</p>
                </div>
              </div>
            </a>
            <hr class="my-2">
            <div class="flex items-center flex-wrap my-4">
              <a href="#" class="py-2 px-3 rounded-l text-center text-white transition duration-75 ease-in-out bg-blue-500 hover:bg-blue-600 inline-flex items-center md:mb-2 lg:mb-0">
                <i class="fa fa-envelope pr-2"></i>EMAIL
              </a>
              <a href="#" class="py-2 px-3 rounded-r text-center text-white transition duration-75 ease-in-out bg-blue-500 hover:bg-blue-600 inline-flex items-center md:mb-2 lg:mb-0">
                <i class="fa fa-phone pr-2"></i>CALL
              </a>
              <a class="inline-flex items-center  ml-auto leading-none">
                <img alt="blog" src="https://dummyimage.com/103x103" class="w-20 h-12 flex-shrink-0 object-cover object-center">
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font font-medium text-gray-900">Alper Kamu</span>
                  <span class="text-gray-400 text-xs tracking-widest mt-0.5">DESIGNER</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-3/12 md:pl-4 sidebar">
        <div class="h-full overflow-hidden">
          <div class="p-6">
          </div>
        </div>
      </div>
    </div>
    {% include "properties/scripts/properties_rent_map_script.html" %}
    {% endfor %}
  </div>
</section>










{% endblock content %}