{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}Genesis | Rent{% endblock title %}

{% block content %}


<section class="text-gray-600 body-font">
  <div class="container max-w-full px-2 lg:px-10 py-10 mx-auto">
    {% for rent in rentProperties %}
    <div class="flex flex-wrap pb-16 pt-8">
      <div class="lg:w-3/12 w-full bg-gray-50 lg:shadow-xl shadow:none">
        <div class="h-full overflow-hidden rounded-tl">
           <div class="bg-blue-500 w-full float-left py-1 text-xs pl-2 font-bold">
            {% if rent.property_category == 'STANDARD' %}
              <div class="text-white">
                {{rent.property_category}}
              </div>
            {% elif rent.property_category == 'FEATURED' %}
              <div class="text-white text-lg">
                {{rent.property_category}} <i class="text-red-600 fa fa-star"></i>
              </div> 
            {% else %}
              <div class="text-white text-lg">
                {{rent.property_category}} <i class="text-yellow-400 fa fa-bolt"></i>
              </div> 
            {% endif %}
          </div> 
          <div class="fotorama" data-loop="true" data-nav="thumbs" data-thumbwidth="100" data-width="100%" data-trackpad="true" data-ratio="3/2">
            {% if rent.photo_main  %}
              <img data-keyboard="true" class="object-cover object-center" src="{{rent.photo_main.url}}">
            {% endif %}
            {% if rent.photo_1  %}
              <img class="object-cover object-center" src="{{rent.photo_1.url}}">
            {% endif %}
            {% if rent.photo_2  %}
              <img class="object-cover object-center" src="{{rent.photo_2.url}}">
            {% endif %}          
            {% if rent.photo_3 %}
              <img class="object-cover object-center" src="{{rent.photo_3.url}}">
            {% endif %}  
            {% if rent.photo_4  %}
              <img class="object-cover object-center" src="{{rent.photo_4.url}}">                              
            {% endif %}

          </div> 
        </div>
      </div>
      <div class="lg:w-6/12 bg-gray-50 shadow-xl overflow-hidden">
        <div class="h-full overflow-hidden">
          <div class="bg-blue-500 w-full float-left py-1 text-xs pl-2 font-bold rentlist-ribbon">
            {% if rent.property_category == 'STANDARD' %}
              <div class="text-blue-500">.</div>
            {% elif rent.property_category == 'FEATURED' %}
              <div class="text-blue-500 text-lg">.</div> 
            {% else %}
              <div class="text-blue-500 text-lg">.</div> 
            {% endif %}
          </div>
          <div class="p-4">
            <a href="{% url 'properties:rent-detail' rent.pk %}" target="_blank">
              <div class="flex items-center flex-wrap w-full">
                <h2 class="inline-flex items-center tracking-widest text-xs title-font font-medium text-gray-400">
                  {{rent.city}} | {{rent.postalcode}} | {{rent.region}}
                </h2>
                <h1 class="inline-flex items-center title-font font-bold text-2xl ml-auto mt-2 leading-none text-gray-900">
                    {% ifequal rent.currency '€' %}
                      {{rent.price | intcomma}}{{rent.currency}}
                    {% else %}
                      {{rent.currency}}{{rent.price | intcomma}}
                    {% endifequal %}
                </h1>
              </div>
            </a>
            <a href="{% url 'properties:rent-detail' rent.pk %}" target="_blank">
              <h1 class="title-font text-md font-bold text-gray-700 mb-2">
                {{rent.address}}
              </h1>
            </a>
            <div class="flex flex-wrap my-2">
              <div class="lg:w-3/5 md:w-1/2 md:pr-6">
                <a href="{% url 'properties:rent-detail' rent.pk %}" target="_blank">
                  <p class="text-gray-900 text-sm mb-4 lg:mb-2 overflow-hidden">
                    {{rent.short_description}}
                  </p>
                </a>
              </div>
              <div class="lg:w-2/5 md:w-1/2 w-full rounded border-2 border-blue-100 lg:mb-0 mb-4" id="map{{rent.id}}" style="height: 80px;"></div> 
            </div> 
            <a href="{% url 'properties:rent-detail' rent.pk %}" target="_blank">
              <div class="flex flex-wrap text-sm text-blue-500 my-2">
                <div class="flex justify-between lg:w-3/5 w-full md:pr-6 my-2 lg:my-2">
                  <div><i class="fa fa-home"></i> {% trans 'TYPE'%}<div class="text-center text-blue-500 font-bold">{{rent.property_type}}</div></div>
                  <div><i class="fa fa-bed"></i> {% trans 'BEDROOMS'%}<div class="text-center text-blue-500 font-bold">{{rent.bedrooms}}</div></div>
                  <div><i class="fa fa-bath"></i> {% trans 'BATHROOMS'%}<div class="text-center text-blue-500 font-bold">{{rent.bathrooms|floatformat:'0'}}</div></div>
                  <div><i class="fa fa-th-large"></i> {% trans 'SPACE'%}<div class="text-center text-blue-500 font-bold">{{rent.m2}}m²</div></div>
                </div>
                <div class="flex justify-between lg:w-2/5 w-full my-2">
                  <p class="text-xs font-bold leading-none ml-auto">{% trans 'Published:'%} {{rent.list_date}}</p>
                </div>
              </div>
            </a>
            <hr class="my-4">
            <div class="flex items-center flex-wrap">
              <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{rent.organisation.email}}" 
                 target="popup" 
                 onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{rent.organisation.email}}','popup','width=600,height=600'); return false;"
                 class="py-2 px-3 border-r border-white rounded-l text-center text-white transition duration-75 ease-in-out bg-blue-500 hover:bg-blue-600 inline-flex items-center md:mb-2 lg:mb-0">
                <i class="fa fa-envelope pr-2"></i>EMAIL
              </a>
              <a href="tel:{{rent.organisation.phone}}" class="py-2 px-4 rounded-r text-center text-white transition duration-75 ease-in-out bg-blue-500 hover:bg-blue-600 inline-flex items-center md:mb-2 lg:mb-0">
                <i class="fa fa-phone pr-2"></i>{% trans 'CALL'%}
              </a>
              <a class="inline-flex items-center  ml-auto leading-none">
              {% if rent.organisation.organisation_logo %}
                <img alt="blog" src="{{rent.organisation.organisation_logo.url}}" class="w-20 h-12 flex-shrink-0 object-cover object-center">
              {% endif %}
                <span class="flex-grow flex flex-col pl-4">
                  <span class="title-font text-sm font-medium text-gray-900">{{rent.organisation.name}}</span>
                  <span class="text-gray-400 text-xs tracking-widest mt-0.5">{% trans 'AGENCY'%}</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-3/12 md:pl-4 sidebar">
        <div class="h-full overflow-hidden">
          <div class="p-6">
          </div>
        </div>
      </div>
    </div>
    {% include "properties/scripts/properties_rent_map_script.html" %}
    {% endfor %}
    <!-- Pagination -->
    <div class="w-full flex flex-wrap">
      <div class="pagination w-full lg:w-9/12 text-right">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="pr-1 pl-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-300 hover:bg-blue-600" 
                  href="?page=1&city={{city}}&bathrooms={{bathrooms}}">
                  <i class="fa fa-angle-double-left text-white text-lg"></i>  
                </a>
                <a class="pl-3 pr-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-400 hover:bg-blue-600" 
                  href="?page={{page_obj.previous_page_number}}&city={{city}}&bathrooms={{bathrooms}}">
                  <i class="fa fa-angle-left text-white text-xl"></i>
                </a>
            {% endif %}

            <span class="current text-gray rounded p-2 text-md align-center">
                <span class="font-bold">{{ page_obj.number }}</span> 
                <span class="text-xs">of {{ page_obj.paginator.num_pages }}</span>
            </span>

            {% if page_obj.has_next %}
                <a class="pl-3 pr-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-400 hover:bg-blue-600" 
                  href="?page={{page_obj.next_page_number}}&city={{city}}&bathrooms={{bathrooms}}">
                  <i class="fa fa-angle-right text-white text-xl"></i>
                </a>
                <a class="px-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-300 hover:bg-blue-600" 
                  href="?page={{page_obj.paginator.num_pages}}&city={{city}}&bathrooms={{bathrooms}}">
                  <i class="fa fa-angle-double-right text-white text-lg"></i>
                </a>
            {% endif %}
        </span>
      </div>
      <div class="pagination w-3/12 sidebar">
      </div>
    </div>
    <!-- /Pagination -->
  </div>
</section>
{% endblock content %}