{% extends "base.html" %}
{% load i18n %}
{% load tailwind_filters %}

{% block title %}Genesis | Search to rent{% endblock title %}

{% block content %}

<section class="text-gray-600 body-font relative border-t-2 border-blue-500 shadow-sm pb-12">
  <div class="absolute inset-0 bg-gray-300">
    {% if LANGUAGE_CODE == 'en'%}
      <iframe class="object-contain" style="filter: grayscale(1) contrast(1.2) opacity(0.5);" marginheight="0" marginwidth="0" title="map" scrolling="no" 
          src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=England+(Genesis)&amp;ie=UTF8&amp;t=&amp;z=7&amp;iwloc=B&amp;output=embed" 
          width="100%" height="100%" frameborder="0">
      </iframe>
    {% elif LANGUAGE_CODE == 'el' %}
      <iframe style="filter: grayscale(1) contrast(1.2) opacity(0.5);" marginheight="0" marginwidth="0" title="map" scrolling="no" 
          src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=Greece+(Genesis)&amp;ie=UTF8&amp;t=&amp;z=8&amp;iwloc=B&amp;output=embed" 
          width="100%" height="100%" frameborder="0">
      </iframe>
    {% endif %}
  </div>
  <div class="container px-5 py-20 mx-auto flex">
    <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
      <h2 class="text-gray-900 text-xl mb-4 font-bold title-font">{% trans 'Whereabouts?'%}</h2>
      <p class="leading-relaxed mb-5 text-gray-600">
        {% trans "You can find your next property searching by city, postcode, address, etc."%}
      </p>
        <form method="get">
            <div class="relative mb-4">
                {{ form|crispy }}
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-xl text-white mb-3" formaction="{% url 'properties:rent-list' %}">
                    {% trans 'Search' %}
                </button>
            </div>
            <div class="relative mb-4">
              <div class="lg:w-full mx-auto">
                <h2 class="text-gray-900 text-xl mb-2 font-medium title-font">{% trans 'Anything more specific?'%}</h2>
                <div class="flex flex-wrap -m-2">
                  <div class="p-2 w-1/4">
                    <div class="relative">
                      <label for="name" class="leading-7 text-sm text-gray-600">{% trans 'Bedrooms' %}</label>
                      <input type="number" min="1" max="99" id="bedrooms" name="bedrooms" class="w-full bg-white rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
                  <div class="p-2 w-1/4">
                    <div class="relative">
                      <label for="email" class="leading-7 text-sm text-gray-600">{% trans 'Bathrooms' %}</label>
                      <input type='number' min="1" max="9" id="bathrooms" name="bathrooms" class="w-full bg-white rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
                  <div class="p-2 w-2/4">
                    <div class="relative">
                      <label for="email" class="leading-7 text-sm text-gray-600">{% trans 'Price range' %}</label>
                      <input id="price" name="price" class="w-full bg-white rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                  </div>
            </div>
        </form>
        <div class="relative mt-4">
          <div class="lg:w-full mx-auto"></div>
            {% comment %} <div id='map' class="w-full h-72">
            </div>
            <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoidGhlbWlzdGhlbzE5OTUiLCJhIjoiY2tidGlyZ2xrMGE1aDJ6bWkzZnlwM2t4aiJ9.QZXJ0ujvaC2sScu_VmT9zg';
              var map = new mapboxgl.Map({
                zoom: 10,
                center: [-0.1195,51.503], //[lng,lat]
                container: 'map',
                style: 'mapbox://styles/themistheo1995/ckn1p02002btg17qa96uurx1x'
              });
              // Add zoom and rotation controls to the map.
              map.addControl(new mapboxgl.NavigationControl());
              // Markers
              var marker1 = new mapboxgl.Marker()
              .setLngLat([-0.1195,51.503])
              .addTo(map);
            </script> {% endcomment %}
        </div>
      <p class="text-xs text-gray-500 mt-3">{% trans 'Select as many fields as you want for more precise results.' %}</p>
    </div>
  </div>
</section>

{% endblock content %}