{% load i18n %}

<!--Ordering/Filters-->
<div class="container max-w-full px-4 lg:px-10 pt-4 -mb-6 mx-auto text-left lg:text-sm text-xs text-gray-700 font-semibold">
    <div class="flex flex-wrap">
        <div class="flex flex-wrap w-full">
            <div class="w-3/6">
                <button type="submit" id="view" onclick="featuresFilter(this.id)" form="search_bar" class="focus:outline-none font-semibold mb-2 sm:py-1 py-2 px-2 rounded-md border-2 border-blue-700 text-center text-blue-700 hover:text-white transition duration-75 ease-in-out hover:bg-blue-700">
                    {% trans 'View/Scenery'%}
                </button>
                <button type="submit" onclick="featuresFilter('garden')" form="search_bar" class="focus:outline-none font-semibold mb-2 sm:py-1 py-2 px-2 rounded-md border-2 border-blue-700 text-center text-blue-700 hover:text-white transition duration-75 ease-in-out hover:bg-blue-700">
                    {% trans 'Garden'%}
                </button>
                <button type="submit" onclick="featuresFilter('fireplace')" form="search_bar" class="focus:outline-none font-semibold mb-2 sm:py-1 py-2 px-2 rounded-md border-2 border-blue-700 text-center text-blue-700 hover:text-white transition duration-75 ease-in-out hover:bg-blue-700">
                    {% trans 'Fireplace'%}
                </button>
                <button type="submit" onclick="featuresFilter('elevator')" form="search_bar" class="focus:outline-none font-semibold mb-2 sm:py-1 py-2 px-2 rounded-md border-2 border-blue-700 text-center text-blue-700 hover:text-white transition duration-75 ease-in-out hover:bg-blue-700">
                    {% trans 'Elevator'%}
                </button>
            </div>
            <div class="w-3/6 text-right">
                <span>{% trans 'Sort: '%}</span>
                <select form="search_bar" onchange="sortFilter()" name="orderlist" class="mb-2 bg-blue-600 py-1 px-1 outline-none items-center text-gray-50">
                    <option selected="true" value="">{% trans 'Random date'%}</option>
                    {% for key,value in order_list_date_choices.items %}
                    <option value="{{ key }}" {% if key == orderlist %} selected {% endif %}>
                    {{ value }}
                    </option>
                    {% endfor %}
                </select>
                <select form="search_bar" onchange="sortFilter()" name="orderprice" class="mb-2 bg-blue-600 py-1 px-1 outline-none items-center text-gray-50">
                    <option selected="true" value="">{% trans 'Random price'%}</option>
                    {% for key,value in order_price_choices.items %}
                    <option value="{{ key }}" {% if key == orderprice %} selected {% endif %}>
                    {{ value }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>