{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}


{% block title %} Genesis | Create property {% endblock title %}

{% block content %}
<div class="max-w-lg mx-auto px-5">
    <h1 class = "title-font sm:text-3xl pt-10 text-2xl mb-1 font-medium text-gray-900 mb-8">
        {% trans 'Create a property' %}
    </h1>
    <form method="post" class="text-sm" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-white text-lg mb-3 mt-3">
      {% trans 'Submit' %}
    </button>
    </form>
</div>
{% include "properties/scripts/properties_rent_placesAPI.html" %}
{% endblock content %}