{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block title %}Genesis | Home{% endblock title %}

{% block content %}
 
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-14 items-center justify-center flex-col landing sm:mt-16">
      <div class="text-center lg:w-2/3 w-full bg-gray-100 py-10 bg-opacity-80 rounded-lg">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 px-4">
        {% trans 'More than 20k+ properties to choose from.'%}
        </h1>
        <p class="mb-8 leading-relaxed sm:text-xl text-lg">
        {% trans 'Some people look for a beautiful place. Others make a place beautiful. Discover yours.' %}
        </p>
        <div class="flex justify-center">
          <a href="{% url 'properties:rent-search' %}" class="inline-flex text-white font-semibold bg-blue-500 border-0 py-3 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">
            {% trans 'TO RENT' %}</button>
          </a>
          <a href="#" class="ml-4 inline-flex text-gray-900 font-semibold bg-gray-300 py-3 px-6 focus:outline-none hover:bg-gray-400 rounded text-lg border-1 border-gray-400">
            {% trans 'FOR SALE' %}</button>
          </a>
        </div>
      </div>
    </div>
    <h1 id ="genslide" class= "tracking-wider text-center sm:px-10 pt-12 px-4 text-2xl">LATEST PUBLISHED PROPERTIES</h1>
      <div class="flex flex-wrap sm:mt-8">
        {% for property in landingProperties %}
        <div class="xl:w-1/4 md:w-1/2 p-4">
          {% if property.advertised == "To_Rent" %}
          <a href="{% url 'properties:rent-detail' property.pk%}"> {% else %} <a href="#"> {% endif %}
            <div class="bg-gray-100 p-6 rounded-lg shadow">
              {% if property.photo_main  %}
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{property.photo_main.url}}">
              {% endif %}
                <div class="flex items-center flex-wrap w-full">
                  <h3 class="tracking-wider text-blue-500 text-xs font-medium title-font inline-flex items-center">
                    {{property.city}} | {{property.postalcode}}
                  </h3>
                  <h3 class="tracking-wider text-gray-900 float-right ml-auto font-medium title-font font-bold inline-flex items-center">
                    {% ifequal property.currency '€' %}
                      {{property.price | intcomma}}{{property.currency}}
                    {% else %}
                      {{property.currency}}{{property.price | intcomma}}
                    {% endifequal %}
                  </h3>
                </div>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{property.address}}</h2>
                <p class="leading-relaxed text-sm">{{property.short_description}}</p>
            </div>
          </a>
        </div>
          {% endfor %}
      </div>
    </a>
    <!-- Pagination -->
    <div class="w-full flex flex-wrap sm:my-4 mb-6">
      <div class="pagination w-full text-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="pr-1 pl-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-300 hover:bg-blue-600" 
                  href="?page=1#genslide">
                  <i class="fa fa-angle-double-left text-white text-lg"></i>  
                </a>
                <a class="pl-3 pr-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-400 hover:bg-blue-600" 
                  href="?page={{page_obj.previous_page_number}}#genslide">
                  <i class="fa fa-angle-left text-white text-xl"></i>
                </a>
            {% endif %}

            <span class="current text-gray rounded p-2 text-md align-center">
                <span class="font-bold">{{ page_obj.number }}</span> 
                <span class="text-xs">of {{ page_obj.paginator.num_pages }}</span>
            </span>

            {% if page_obj.has_next %}
                <a class="pl-3 pr-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-400 hover:bg-blue-600" 
                  href="?page={{page_obj.next_page_number}}#genslide">
                  <i class="fa fa-angle-right text-white text-xl"></i>
                </a>
                <a class="px-2 py-1 rounded border-2 border-white transition duration-75 ease-in-out bg-blue-300 hover:bg-blue-600" 
                  href="?page={{page_obj.paginator.num_pages}}#genslide">
                  <i class="fa fa-angle-double-right text-white text-lg"></i>
                </a>
            {% endif %}
        </span>
      </div>
      <div class="pagination w-3/12 sidebar">
      </div>
    </div>
    <!-- /Pagination -->
</section>
{% endblock content %}

