<script>
function submitLanguage(){ 
    // Language switcher form.
    document.getElementById('language').submit(); 
  } 

var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
document.getElementById("dropdown").addEventListener("click", function() {
  if (isSafari){
    const dropdownMenu = document.getElementById('headlessui-menu-items-117');
    if (dropdownMenu.classList.contains("visible")){
        dropdownMenu.classList.add("invisible");
        dropdownMenu.classList.add("opacity-0");

        dropdownMenu.style.transform ="";
        dropdownMenu.style.transform ="";
        
        dropdownMenu.classList.remove("visible");
        dropdownMenu.classList.remove("opacity-1");
    }else{
        dropdownMenu.classList.add("visible");
        dropdownMenu.classList.add("opacity-1");

        dropdownMenu.style.transform ="translate(0)";
        dropdownMenu.style.transform ="scale(1)";

        dropdownMenu.classList.remove("invisible");
        dropdownMenu.classList.remove("opacity-0");
    }
  }
});
</script>
