{% load i18n %}
<header class="text-gray-600 body-font px-2 lg:px-5 sm:bg-gray-50 bg-blue-500 shadow">
    <div class="container mx-auto flex flex-wrap sm:px-5 px-2 py-2 flex-row sm:items-center items-start">
        <!--Logo, language-->
        <div class="inline-flex flex flex-wrap w-1/2 justify-start">
            {% if request.path != '/' and request.path != '/en/'  %}
            <a href="{% url 'landing-page' %}" class="flex title-font font-medium items-center text-gray-900">
                <span class="ml-3 text-xl pb-1 font-bold text-white sm:text-gray-900 tracking-wider"><strong>GENESIS.</strong></span>
            </a>
            {% endif %}
            <div class="pl-4 pt-1 flex">
                <div class="dropdown inline-block relative">
                    <form id="language" class="pt-1 text-xs items-center" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select onchange="submitLanguage()" class="appearance-none outline-none cursor-pointer sm:text-gray-700 text-white sm:bg-gray-50 bg-blue-500 sm:hover:bg-gray-300 p-1 mb-2 rounded" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option class="text-center text-white bg-blue-600" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                        </option>
                        {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <!--Menu buttons-->
        <nav class="w-1/2 inline-flex flex items-center font-semibold text-base justify-end">
            <!--User has account+ -->
            {% if request.user.is_authenticated %}
            <!-- +user is realtor -->
            {% if request.user.is_authenticated and request.user.is_realtor %}
            <a href="{% url 'organisation:organisation-dashboard' user.organisation.pk %}" title="{% trans 'Board'%}" class="py-1 px-2 rounded text-center sm:text-white mx-2 transition duration-75 ease-in-out sm:bg-blue-600 sm:hover:bg-blue-700 bg-gray-100 hover:bg-gray-300 text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="mb-1 inline-block bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
            </a>
            {% endif %}
            <!-- +user is agent -->
            {% if request.user.is_authenticated and request.user.is_agent %}
            <a href="{% url 'organisation:organisation-properties' %}" class="py-1 px-2 rounded text-center sm:text-white mx-2 transition duration-75 ease-in-out sm:bg-blue-600 sm:hover:bg-blue-700 bg-gray-100 hover:bg-gray-300 text-blue-600">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="mb-1 inline-block bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
            </a>
            {% endif %}
            <a href="{% url 'accounts:settings' %}" title="{% trans 'Settings' %}" class="py-1 px-2 rounded text-center sm:text-white mx-2 transition duration-75 ease-in-out sm:bg-blue-600 sm:hover:bg-blue-700 bg-gray-100 hover:bg-gray-300 text-blue-600">
                <svg width="15" height="15" fill="currentColor" class="mb-1 inline-block bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
            </a>
            <!-- User icon -->
            <a data-modal="modal-one" id="profile-button" class="inline-flex items-center focus:outline-none text-sm font-bold cursor-pointer mx-2">
            {% if request.user.profile_picture %}
            <img height="10" width="10" src="{{request.user.profile_picture.url}}" alt="Access your account" class="w-10 h-10 flex-shrink-0 object-cover object-center rounded-full border-white border-4 hover:border-blue-500 hover:border-4 transition duration-225 ease-in-out">
            {% elif request.user.first_name or request.user.last_name %}
            <span class="bg-gray-700 hover:bg-gray-800 rounded-full py-2 px-3 shadow text-center text-white">
            {{request.user.first_name|slice:"0:1"}}{{request.user.last_name|slice:"0:1"}}
            </span>
            {% else %}
            <span class="bg-gray-700 hover:bg-gray-800 rounded-full py-2 px-3 shadow text-center text-white">
            {{request.user.username|slice:"0:2"}}
            </span>
            {% endif %}
            </a>
        </nav>
        <!-- User profile card -->
        {% include "accounts/accounts_profileCard.html" %}
        <!-- User no account -->
        {% else %}
        <a href="{% url 'login' %}" class="inline-flex items-center text-center sm:text-white font-bold sm:bg-gray-700 bg-white border-0 py-1 px-2 focus:outline-none sm:hover:bg-gray-800 hover:bg-gray-200 rounded text-base">
            {% trans 'Login'%}
            <svg fill="none" stroke="currentColor" width="20" height="20" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
        </nav>
        {% endif %}
    </div>
</header>