/* custom scrolling bar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b7bcbe;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9da8aa;
}

/* end of custom scrolling bar */

.dropdown:hover .dropdown-menu {
    display: block;
  }

/* Leaflet */
 
.leaflet-bottom, .leaflet-right{
  display: none!important;
}

.leaflet-touch .leaflet-bar a {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-clip: padding-box;
}

@media(max-width:1023px){
  .rent-detail-map {
    height: 300px!important;
  }
}

.rent-detail-map {
  height: 300px;
}
/* end of Leaflet */


@media(max-width:1023px){
  
  .sidebar {
    display: none;
  }
  .rentlist-ribbon {display: none;} 

  }

/* Splide */

.splide__slide img {
	width : 100%;
	height: auto;
}

.splide__slide.is-active {
  border-color: rgba(59, 130, 246)!important;
}

#div_id_is_realtor {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.checkboxinput {
  margin-bottom: 6px;
  margin-left: 15px;
}
/* end of Splide */


/* DataTable */
.dataTables_filter {
  font-size: 0.9rem;
  padding-bottom: 10px;
  text-transform: uppercase;
  color:rgb(131, 130, 130);
  font-weight: bold;
}

@media(max-width:640px){
  #properties_table_paginate{
    font-size: small;
    float: left;
    padding: 10px;
  }
}

#properties_table_paginate{
  padding: 10px;
}

.dataTables_filter input[type="search"] {
  border-color: #4B5563;
  outline: none;
}
table.dataTable.display tbody td {
  border-top: 2px solid #4B5563;
}

table.dataTable.no-footer {
  border-bottom: none;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 2px solid rgb(59, 130, 246);
}

.properties-table {
   cursor: pointer; 
}
/* end of DataTable */


/* Landing */

.wave-container{
  background-image: linear-gradient(-180deg,rgba(249, 250, 251) 0%, rgb(59, 130, 246) 60%);
}

@media(max-width:640px){
  .wave-container{
    background-image: none;
  }
}
/* end Landing */


/* Profile card */

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.cont a {
  padding: 4px;
  background: rgb(59, 130, 246, 0.5);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  z-index: 1000;
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  background: rgba(154, 161, 173, 0);
  width: 100%;
  height: 100%;
}
.modal-container {
  position: relative;
  width: 350px;
  height: 400px;
}
/* End of profile-card */


/* Google location search bar */

.hdpi.pac-logo:after{
  background-image: none;
}
/* end of Google location search bar */

.ms-choice{
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  border-color: rgba(209,213,219,1);
  outline: none;
}
.ms-choice:focus{
  outline: none;
}

.ms-choice .placeholder {
  margin-top:5px;
}

/* rent search bar */
.rent_map{
  z-index: 1;
}

#filterModal{
  z-index: 999;
  top: -1px;
}

/* end of rent search bar */

/* Rent list map */
.rentMapBottom{
  z-index: 50;
  height:90vh;
  transition: top 0.3s ease 0s;
  top: calc(20% - 100px);
}

.rentMapTop{
  z-index: 50;
  height:90vh;
  top: calc(100% - 100px);
  transition: top 0.3s ease 0s;
  top: 115px;
}

.markerActive{
  overflow: hidden;
  width: 25px!important;
  height: 25px!important;
  transition: width 0.2s ease-out, height 0.2s ease-out;
  opacity: 1!important;
}
#rentMap .leaflet-marker-icon {
  opacity: 0.65;
}


.cardAnchor{
  scroll-margin-top: 50px;
}
/* end of rent list map */


/* Alerts */
.alert_danger{
  text-align:center; 
  padding:10px 0px 10px 0px; 
  background-color:#F4C2C2; 
  color:#AB3030; 
  font-weight:bold; 
  border-radius:3px;
}
.alert_info{
  text-align:center; 
  padding:10px 0px 10px 0px; 
  background-color:#F4C2C2; 
  color:#AB3030; 
  font-weight:bold; 
  border-radius:3px;
}
.alert_success{
  text-align:center; 
  padding:10px 0px 10px 0px; 
  background-color:#a2d396; 
  color:#1b7c18; 
  font-weight:bold; 
  border-radius:3px;
}
.alert_warning{
  text-align:center; 
  padding:10px 0px 10px 0px; 
  background-color:#F4C2C2; 
  color:#AB3030; 
  font-weight:bold; 
  border-radius:3px;
}
.alert_debug{
  text-align:center; 
  padding:10px 0px 10px 0px; 
  background-color:#F4C2C2; 
  color:#AB3030; 
  font-weight:bold; 
  border-radius:3px;
}
/* end of alerts */


