
.dropdown:hover .dropdown-menu {
    display: block;
  }

/* Leaflet */
 
.leaflet-bottom, .leaflet-right{
  display: none!important;
}

.leaflet-touch .leaflet-bar a {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgb(167, 161, 161);
  background-clip: padding-box;
}

@media(max-width:1023px){
  .rent-detail-map {
    height: 300px!important;
  }
}

.rent-detail-map {
  height: 300px;
}
/* end of Leaflet */


@media(max-width:1023px){
  
  .sidebar {
    display: none;
  }
  .rentlist-ribbon {display: none;} 

  }

/* Splide */

.splide__slide img {
	width : 100%;
	height: auto;
}

.splide__slide.is-active {
  border-color: rgba(59, 130, 246)!important;
}

#div_id_is_realtor {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.checkboxinput {
  margin-bottom: 6px;
  margin-left: 15px;
}
/* end of Splide */


/* DataTable */
.dataTables_filter {
  font-size: 0.9rem;
  padding-bottom: 10px;
  text-transform: uppercase;
  color:rgb(131, 130, 130);
  font-weight: bold;
}

@media(max-width:640px){
  #properties_table_paginate{
    font-size: small;
    float: left;
    padding: 10px;
  }
}

#properties_table_paginate{
  padding: 10px;
}

.dataTables_filter input[type="search"] {
  border-color: #4B5563;
  outline: none;
}
table.dataTable.display tbody td {
  border-top: 2px solid #4B5563;
}

table.dataTable.no-footer {
  border-bottom: none;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 2px solid rgb(59, 130, 246);
}

.properties-table {
   cursor: pointer; 
}
/* end of DataTable */


/* Landing */

.wave-container{
  background-image: linear-gradient(-180deg,rgba(249, 250, 251) 0%, rgb(59, 130, 246) 60%);
}

@media(max-width:640px){
  .wave-container{
    background-image: none;
  }
}
/* end Landing */


/* Profile card */

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.cont a {
  padding: 4px;
  background: rgb(59, 130, 246, 0.5);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.modal {
  z-index: 1000;
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  background: rgba(154, 161, 173, 0);
  width: 100%;
  height: 100%;
}
.modal-container {
  position: relative;
  width: 350px;
  height: 400px;
}
/* End of profile-card */


/* Google location search bar */

.hdpi.pac-logo:after{
  background-image: none;
}
/* end of Google location search bar */

/* Auto complete Tarek Raafat */

 :root {
	--transition-1: all 0.3s ease-in-out;
	--transition-2: all 0.2s ease-in-out;
}

h1.title {
	transition: var(--transition-1);
}

.no_result {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  list-style: none;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  transition: all 0.1s ease-in-out;
  border-radius: 0.35rem;
  background-color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
  outline: none;
}

.github-corner {
  transition: var(--transition-1);
}

.toggle {
  display: flex;
  /* position: absolute; */
  border: 2px solid rgba(59, 130, 246);
  height: 35px;
  width: 120px;
  border-radius: 2rem;
  justify-content: flex-start;
  align-content: center;
  transition: var(--transition-2);
}

.toggler {
  display: grid;
  cursor: pointer;
  background-color: rgba(37, 99, 235);
  color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 1rem;
  margin: 3px 4px 3px 4px;
  padding-bottom: 3px;
  text-align: center;
  align-content: center;
  align-self: flex-start;
  transition: var(--transition-2);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}

.toggler:hover {
  width: 65px;
  background-color: rgba(59, 130, 246, 0.7);
}

.toggler::selection {
  color: #fff;
}

.strict {
  display: inline;
}

.loose {
  display: inline;
}

.selection {
  margin-top: 4vh;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(59, 130, 246, 0.7);
  transition: var(--transition-1);
}

.selection::selection {
  color: rgba(59, 130, 246);
}

.copyrights {
  font-size: 0.8rem;
}

.copyrights::selection {
  color: rgb(147, 147, 147);
}

@media only screen and (max-width: 600px) {
  .selection {
    margin-top: 3vh;
  }

  .footer {
    bottom: 1.5rem;
    transition: var(--transition-1);
  }
}

@media only screen and (max-height: 500px) {
  .footer {
    display: none;
  }
}

.autoComplete_wrapper {
  display: inline-block;
  position: relative;
}

#autoComplete {
  height: 3rem;
  width: 100%;
  margin: 0;
  padding: 0 2rem 0 3.2rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1rem;
  text-overflow: ellipsis;
  color: rgba(59, 130, 246, 1);
  outline: none;
  border-radius: 0.5rem;
  border: 0;
  border: 0.4rem solid rgba(59, 130, 246, 0.9);
  background-image: url(../images/mapMarker.png);
  background-size: 1.4rem;
  background-position: left 1.05rem top 0.8rem;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: #fff;
  transition: all 0.0s ease;
  -webkit-transition: all -webkit-transform 0.0s ease;
}

#autoComplete::placeholder {
  color: rgba(59, 130, 246, 0.5);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:hover::placeholder {
  color: rgba(59, 130, 246, 0.6);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus::placeholder {
  padding: 0.1rem 0.6rem;
  font-size: 0.95rem;
  color: rgba(59, 130, 246, 0.4);
}

#autoComplete:focus::selection {
  background-color: rgba(59, 130, 246, 0.15);
}

#autoComplete::selection {
  background-color: rgba(59, 130, 246, 0.15);
}

#autoComplete:hover {
  color: rgba(59, 130, 246,1);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus {
  color: rgba(59, 130, 246, 1);
  border: 0.1rem solid rgba(59, 130, 246, 0.8);
}

#autoComplete_list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin-top: 0.5rem;
  border-radius: 0.6rem;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  border: 1px solid rgba(33, 33, 33, 0.07);
  z-index: 1000;
  outline: none;
}

.autoComplete_result {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  list-style: none;
  text-align: left;
  font-size: 0.85rem;
  color: #212121;
  transition: all 0.1s ease-in-out;
  border-radius: 0.35rem;
  background-color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.autoComplete_result::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_result:hover {
  cursor: pointer;
  background-color: rgba(59, 130, 246, 0.15);
}

.autoComplete_highlighted {
  color: rgba(59, 130, 246, 1);
  font-weight: bold;
}

.autoComplete_highlighted::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_selected {
  cursor: pointer;
  background-color: rgba(59, 130, 246, 0.15);
}

@media only screen and (max-width: 600px) {
  .autoComplete_wrapper {
    width: 100%;
  }

  #autoComplete {
    width: 100%;
    background-size: 1.6rem;
    background-position: left 1.1rem top 0.75rem;
  }

  #autoComplete_list {
    margin: 5px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #autoComplete {
    border-width: 0.1rem;
  }
}

@-moz-document url-prefix() {
  #autoComplete {
    background-size: 1.2rem;
    background-origin: border-box;
    background-position: left 1.1rem top 0.8rem;
  }
}

/* End Auto complete Tarek Raafat */

.ms-choice{
  height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  border-color: rgba(209,213,219,1);
  outline: none;
}
.ms-choice:focus{
  outline: none;
}

.ms-choice .placeholder {
  margin-top:5px;
}
/* Fotorama */


/* End of Fotorama*/

