<script>

function resetFilter(){
	$('.form_group').val("");
	document.getElementById("search_bar").submit(); 
}

function sortFilter(){
	document.getElementById("search_bar").submit(); 
}

function featuresFilter(feature){
	document.querySelector('.view').value = feature;
}

function searchBarClose(){
	const searchBar = document.getElementById('search_bar');
	const map = document.getElementById('rentMap');

	if (searchBar.classList.contains('hidden')){
		searchBar.classList.remove('hidden');
		document.getElementById("close_searchbar").style.opacity = '100%';
		map.style.marginTop = '7%';
	}else{
		searchBar.classList.add('hidden');
		document.getElementById("close_searchbar").style.opacity = '40%';
		map.style.marginTop = '0%';
	}
}

</script>