<script>
// Map configuration.
var lat = parseFloat({{rent.geo_lat}}).toFixed(6);
var lng = parseFloat({{rent.geo_lng}}).toFixed(6);
var genesisMarker = L.icon({
    iconUrl: '/static/images/mapMarker.png',
    iconSize: [30, 30],

});
var map= L.map('map{{rent.id}}').setView([lat, lng], 12);
    L.marker([lat, lng], {icon: genesisMarker})
        .addTo(map)
        .openPopup();
    var gl = L.mapboxGL({
        attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
        style: 'https://api.maptiler.com/maps/streets/style.json?key=f8KNCaKJy3aq9zRp2tSn'
}).addTo(map); 
</script>